ion-header {
    ion-icon {
        font-size: 1rem;
    }
    ion-title {
        font-weight: bold;
    }
}

ion-slides {
    height: 30vh;
    div{
        height: 20vh;
        width: 94%;
        margin: auto;
    }
}